<div class="col-md-3 col-sm-6">
  <span class="thumbnail">
    <%= link_to product_path(product) do %>
      <img src="<%= product.image %>">
    <% end %>
    <h4><%= link_to product.name, product_path(product) %></h4>
    <div class="ratings">
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
    <p>
      <%= truncate product.info, length: Settings.limit_info,
        separator: Settings.separator_info %>
     </p>
    <hr class="line">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="price"><%= product.price %></p>
      </div>
      <div class="col-md-6 col-sm-6">
        <%= link_to t("view.static_pages.list_product.add_cart"),
          cartitems_path(id: product.id), method: :post,
          class: "btn btn-info right" %>
      </div>
    </div>
  </span>
</div>
