<% provide :title, t("view.suggests.index.title") %>
<h1><%= t "view.suggests.index.header" %></h1>

<% if @suggests.empty? %>
  <div class="alert alert-warning">
    <strong>
      <%= t "view.suggests.index.not_found" %>
    </strong>
  </div>
<% else %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th><%= t "view.suggests.index.content" %></th>
        <td><%= t "view.suggests.index.subcategory" %></td>
        <td><%= t "view.suggests.index.time" %></td>
        <td><%= t "view.suggests.index.status" %></td>
        <th><%= t "view.delete" %></th>
        <th><%= t "view.edit" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "list_suggests", collection: @suggests, as: :suggest %>
      <tr>
        <td colspan="6" class="text-center">
          <%= link_to t("view.suggests.index.send_suggest"), new_suggest_path,
            class: "btn btn-success" %>
        </td>
      </tr>
    </tbody>
  </table>
  <%= will_paginate @suggests %>
<% end %>
