<h1><%= t "view.mail.thank" %></h1>
<h1><%= t "view.your_info" %></h1>
<h4><%= t "view.name" %> <%= @order.name %></h4>
<h4><%= t "view.address" %> <%= @order.address %></h4>
<h4><%= t "view.total" %> <%= @order.total %></h4>
