<% provide :title, t("view.search.title") %>
<h3 class="text-center"><%= t "view.search.header" %></h3>

<div class=row>
  <div class="col-md-4 col-md-offset-4">
    <%= form_tag search_index_path, class: "form-search-detail", method: :get do %>
      <label><%= t "key_word" %></label>
      <%= text_field_tag :input_search, params[:input_search],
        class: "form-control" %>
      <label><%= t "view.min" %></label>
      <%= text_field_tag :input_min, params[:input_min],
        class: "form-control", required: true %>
      <label><%= t "view.max" %></label>
      <%= text_field_tag :input_max, params[:input_max],
        class: "form-control", required: true %>
      <label class="label-form"><%= t "find_by" %></label>
      <%= select_tag :find_by, options_for_select([[t("view.search.find_by.name")],
        [t("view.search.find_by.rate")]]), class: "form-control select-form" %>
      <hr>
      <%= submit_tag t("view.search.btn_search"), name: nil,
        class: "btn btn-success col-md-4 col-md-offset-4" %>
    <% end %>
  </div>
</div>

<hr>

<div class="row">
  <%= render partial: "static_pages/list_products", collection: @products,
    as: :product %>
</div>
<%= will_paginate @products %>
