<tr>
  <td><%= orderitem.product_name %></td>
  <td><%= orderitem.quantity %></td>
  <td>
    <span class="status label label-<%= orderitem.status ? "success" : "danger" %>">
      <%= orderitem.status ? t("view.placed") : t("view.cancel") %>
    </span>
  </td>
  <td>
    <%= (time_ago_in_words orderitem.created_at) << t("view.ago") %>
  </td>
  <th>
    <button id="<%= orderitem.id %>" data-status="<%= !orderitem.status %>"
      class="btn btn-info change-status">
      <%= t "view.admin.orders.index.table_th.change" %>
    </button>
  </th>
</tr>
