<% provide :title, t("view.orders.new.title") %>
<% provide :button_text, t("view.orders.new.btn_order") %>

<div class="container">
  <h3 class="text-center"><b><%= t "view.cartitems.index.header" %></b></h3>
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th><%= t "view.cartitems.index.product" %></th>
        <th><%= t "view.cartitems.index.price" %></th>
        <th><%= t "view.cartitems.index.quantity" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cartitems.each do |key, value| %>
        <% get_products key %>
        <tr>
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-2 hidden-xs">
                <img src="<%= @product.image %>" class="img-responsive"/>
              </div>
              <div class="col-sm-10">
                <h4 class="nomargin"><%= @product.name %></h4>
                <p><%= @product.info %></p>
              </div>
            </div>
          </td>
          <td data-th="Price"><%= @product.price %></td>
          <td data-th="Quantity">
            <%= value %>
          </td>
        </tr>
        <% calculate_total @product.price, value %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td>&nbsp</td>
        <td><h3><%= t "view.total" %></h3></td>
        <td class="text-right"><h3 id="total">$<%= @total %></h3></td>
      </tr>
      <tr>
        <td>&nbsp</td>
        <td>
          <%= link_to cartitems_path, class: "btn btn-default" do %>
            <span class="glyphicon glyphicon-chevron-left"></span>
            <%= t "view.orders.new.back" %>
          <% end %>
        </td>
        <td>
          <%= link_to root_path, class: "btn btn-success" do %>
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <%= t "view.orders.index.continue" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<h1><%= t "view.orders.new.header" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
